manifest {
    homePage = 'https://github.com/digenoma-lab/k-count-nf'
    description = 'K-count and genome size estimation'
    mainScript = 'main.nf'
    author = 'Alex Di Genova'
    version = '1.0'
    name = 'k-count'
}




profiles {
  docker {
	docker.enabled = true
	process.container = 'adigenova/k-count:v1.0'
	}
  singularity {
   singularity.enabled = true
   process.container = 'adigenova/k-count:v1.0'
   singularity.autoMounts = true
 }
}


//additionals files for visualization of arriba results
params {

cpu          = 6
mem          = 12
remove_kmc_db = false
kmer=21
//Defaults for read data
reads = null
reads_csv = null
debug = false
help = false
// Shared default variables across different scripts
outdir = './results'
tracedir = "${params.outdir}/nf-pipeline_info"

}


// nextflow run information
timeline {
  enabled = true
  file = "${params.tracedir}/${manifest.name}_timeline.html"
}

report {
  enabled = true
  file = "${params.tracedir}/${manifest.name}_report.html"
}

trace {
  enabled = true
  file = "${params.tracedir}/${manifest.name}_trace.txt"
}

dag {
  enabled = true
  file = "${params.tracedir}/${manifest.name}_dag.html"
}

//Mesage regarding errors or complete
workflow.onComplete = {
    // any workflow property can be used here
    println "Pipeline complete"
    println "Command line: $workflow.commandLine"
}


workflow.onError = {
   println "Oops... Pipeline execution stopped with the following message: ${workflow.errorMessage}"
}
